[submodule "Unity"]
	path = modules/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "logging"]
	path = modules/log.c
	url = git@github.com:rxi/log.c.git
[submodule "numeric"]
	path = modules/num.c
	url = git@github.com:padawanphysicist/num.c.git
[submodule "doc/doxygen-awesome-css"]
	path = doc/doxygen-awesome-css
	url = git@github.com:jothepro/doxygen-awesome-css.git
